<!DOCTYPE html>
<!-- This is a template for the web pages -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Club</title>
    <link rel="stylesheet" href="F:\MADT JavaScript\Day 1\FITNESS\CSS\styles.css">
</head>

<body>
    <div id="container">
        <!--This is the are that is used for the website name and logo.-->
        <header>
            <a href="F:\MADT JavaScript\Day 1\FITNESS\index.html"><img
                    src="F:\MADT JavaScript\Day 1\FITNESS\Iamges\ffc_logo.png" alt="The Club Logo"></a>
        </header>

        <!-- The area use for the hyperlinks -->
        <nav>
            <a href="F:\MADT JavaScript\Day 1\FITNESS\index.html">Home </a> &nbsp; &#160;
            <a href="F:\MADT JavaScript\Day 1\FITNESS\template\about.html">About us </a> &nbsp; &#160;
            <a href="classes.html">Classes </a> &nbsp; &#160;
            <a href="nutrition.html">Nutrition </a> &nbsp; &#160;
            <a href="contact.html">Contact us </a> &nbsp; &#160;

        </nav>

        <!-- The are used for the content of the page -->
        <main>
            <h1>Weight</h1>
            <img class="equip" src="F:\MADT JavaScript\Day 1\FITNESS\Iamges\equipment1.jpg" alt="Weight quipment"
                height="195" width="260">
            <p>Our facility includes a weight training area with severa build option.
                Build muscle with weights and improve your core with weight training.</p>
            <ul>
                <li>Dumbells</li>
                <li>Kettle bels</li>
                <li>Barbells</li>
            </ul>

            <h1>Cardio</h1>
            <img class="equip" src="F:\MADT JavaScript\Day 1\FITNESS\Iamges\equipment2.jpg" alt="Cardio equipment"
                height="195" width="260">
            <p>
                Burn fat through cardio workout. If you need to lose 20 lbs or more, include at least 30 minutes of
                cardio each day. We have several equipment choices for your workout.
            </p>

            <ul>
                <li>Treadmills</li>
                <li>Elliptical Machines</li>
                <li>Excercise Bikes</li>

            </ul>

            <h1>Personal Training</h1>
            <img class="equip" src="F:\MADT JavaScript\Day 1\FITNESS\Iamges\equipment3.jpg" alt="Personal Training"
                height="195" width="260">
            <p>
                Our certified personal trainers work with you one on one to help you obtain your fitness goals. Our
                personal trainrs keep you motivated and push you further than you would push yourself. When you feel
                like you cannot do one more rep, they tell you that you can. Personal training has many benifits.
            </p>
            <ul>
                <li>Accountability</li>
                <li>Personalized Programs</li>
                <li>Consistent Support and Motivations</li>
            </ul>

            <h1>Common Excercises</h1>
            <p>
                The Following are common exercisethat we encourage our client to do as part of their daily execise
                routine.
            </p>

            <dl>
                <dt>Burpee</dt>
                <dd>The burpee, a squat thrust with an additional stand between reps, is a full body exercise used in
                    strength training. The movement itself is primarily an anaerobic exercise, but when done in
                    succession over a longer period can be utilized in as an aerobic exercise</dd>
                <br>
                <dt>Plank</dt>
                <dd>The plank is one of the simplest exercises that you can do – it’s simple in its appearance and the
                    amount of steps involved in doing one. Being simple, though, does not mean that doing a plank is
                    easy.

                    Getting into plank pose can be easy. Holding a plank can even be easy, for a few seconds, but since
                    the plank is an exercise position that can be held indefinitely, its difficulty can range from easy,
                    short-term planks to excruciating tests of endurance. A heads up: easy, short-term planks aren’t the
                    type that are going to provide you with much strength improvement.
                </dd>
                <br>
                <dt>Mountain Climber</dt>
                <dd>Climbing a mountain would be a daunting workout to most, but what if the mountain is the floor?
                    That's the concept behind mountain climbers. Performed from a plank position, you'll alternate
                    bringing one knee to your chest, then back out again, speeding up each time until you're "running"
                    against the floor.
                </dd>
            </dl>

            <p>For More Information About How To Stay Active, Visit <a
                    href="https://www.hhs.gov/fitness/index.html">fitness.gov</a>.</p>

        </main>

        <!-- The are for the footer content -->
        <footer>
            &copy; Copyright 2021. All Rights Reserved <br>
            <a href="mailto:fitness@club.com">fitness@club.com</a>
        </footer>
    </div>
</body>

</html>