<!DOCTYPE html>
<!-- This is a template for the web pages -->
<html lang="en">

<head>
    <link rel="stylesheet" href="F:\MADT JavaScript\Day 1\FITNESS\CSS\styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Club</title>
</head>

<body>
    <div id="container">
        <!--This is the are that is used for the website name and logo.-->
        <header>
            <a href="F:\MADT JavaScript\Day 1\FITNESS\index.html"><img
                    src="F:\MADT JavaScript\Day 1\FITNESS\Iamges\ffc_logo.png" alt="The Club Logo"></a>
        </header>

        <!-- The area use for the hyperlinks -->
        <nav>
            <ul>
                <li><a href="F:\MADT JavaScript\Day 1\FITNESS\index.html">Home </a></li>
                <li><a href="F:\MADT JavaScript\Day 1\FITNESS\template\about.html">About us </a> </li>
                <li><a href="classes.html">Classes </a></li>
                <li><a href="nutrition.html">Nutrition </a></li>
                <li><a href="F:\MADT JavaScript\Day 1\FITNESS\template\contact.html">Contact us </a></li>
            </ul>

        </nav>

        <!-- The are used for the content of the page -->
        <main>
            <h2>Ready to get started? Contact us today.</h2>
            <p>
                We are located at: <br>
                34334 Bloom court <br>
                locaket, GA 65524
            </p>

            <p>
                Phone number <br>
                <a class="mobile" href="tel:8145559608">(814)555-9608</a>
                <span class="desktop">(814)555-9608</span>
            </p>

            <p>
                Email Address <br>
                <a href="mailto:fitness@club.com">fitness@club.com</a>

            </p>
        </main>

        <!-- The are for the footer content -->
        <footer>
            &copy; Copyright 2021. All Rights Reserved <br>
            <a href="mailto:fitness@club.com">fitness@club.com</a>
        </footer>
    </div>
</body>

</html>