body{
    background-color: rgb(255, 252, 78);
}

img {
    max-width: 100%;
}

/* Styles For Mobile Layout */


/* Styles for the container id */
#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header{

    margin-top: 0.2em;
    background-color: white;
    border-radius: 0.5em;
    /* box-shadow: 12px 12px 12px #404040; */
    text-align: center;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    /* padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 20px; */
}

/* Styles regarding ul inside nav */
nav ul{
   padding: 0;
   margin-top: 0.5em;
   margin-bottom: 0.5em; 
}

/* Styles for the li in the ul in the nav */
nav li {
    background-color: #009933;
    margin: 0.3em;
    padding: 0.4em;
    border-radius: 2em;
    list-style-type: none;
}

/* Styles for the anchor elements inside the li inside nav */
nav li a{
    color: white;
    text-decoration: none;
}

/* styles to display mobile class */
.mobile{
    display: inline;
}

/* styles to hide the desktop class */
.desktop{
    display: none;
}


main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: white;
    border-radius: 2em 0 2em 0;
}

footer{
   font-size: .7em;
   text-align: center;
   margin-top: 2em;

}


/* styles for the tablet class */
.tablet{
    display: none;
}

.equip{
    /*float: left;
    padding: 0 20px 20px;*/
    display: none;
}

/* @media (orientation: landscape) {
    body{
        background-color: cyan;
    }
} */

/* media query for the tablet */
@media only screen and (min-width: 481px){
    /* styles for li in inside nav */
    nav li{
        display: inline;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 0;
        padding-right: 0;
        width: 18%;        
    }

    /* styles for the main element */
    main{
        clear: left;
        margin-top: 4em;
    }

    /* hiding mobile class */
    .mobile{
        display: none;
    }

    /* display desktop clas */
    .desktop{
        display: inline;
    }

    /* display quip class img/content */
    .equip{
        display: inline;
        float: left;
        margin-right: 1.5em;
    }

    h1{
        clear: left;
    } 

    /* display items class */
    .items{
        display: block;
        list-style-position: inside;
        margin-bottom: 8em;
    }

    /* display class tablet */
    .tablet{
        display: block;
    }

    dt{
        font-weight: bold;
        margin-top: 0.7em;
    }
}






